.flatpickr-wrapper {
  width: 100%;
}

.flatpickr-calendar,
.flatpickr-days {
  width: auto !important;
}

.flatpickr-calendar {
  border: 3px solid map-get($colors, black);
  border-radius: $radius;
  box-shadow: none;

  &.static {
    top: calc(100% + 12px);
  }

  &::before {
    border-width: 10px;
  }

  &::after {
    border-width: 7px;
    margin: -1px -2px;
  }

  &.arrowTop {
    &::before {
      border-bottom-color: map-get($colors, black);
    }
  }

  // .flatpickr-month {
  //   border-radius: $radius $radius 0 0;
  //   background-color: #f4f4f4;
  //   margin: $spacer-xs $spacer-xs 0;
  // }

  // .flatpickr-weekdaycontainer {
  //   align-items: center;
  //   background-color: #f4f4f4;
  //   height: 28px;
  //   margin: 0 $spacer-xs;
  // }

  // .dayContainer {
  //   background-color: #f4f4f4;
  //   border-radius: 0 0 $radius $radius;
  //   margin: 0 $spacer-xs $spacer-xs;
  // }
}

.flatpickr-day {
  &.inRange {
    background-color: map-get($colors, yellow);
    border-color: map-get($colors, yellow);
    box-shadow: -5px 0 0 map-get($colors, yellow), 5px 0 0 map-get($colors, yellow);
  }
}

.sidebar_flatpickr {
  transform: scale(0.5) translate(-50%, -50%);
}
