@import "common/variables";
@import "./autoload/bulma";
@import "common/utils";

.wp-block-button {
  &.is-style-yellow-square {
    .wp-block-button__link {
      @include typo($button-desktop, $button-mobile);

      @include tablet() {
        padding: $spacer-s $spacer-l;
      }

      align-items: center;
      background-color: map-get($colors, yellow);
      border: 3px solid map-get($colors, yellow);
      border-radius: 99px;
      color: map-get($colors, black);
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      min-width: 200px;
      padding: $spacer $spacer-l;
      text-decoration: none;
      text-transform: none;

      &:hover {
        background-color: map-get($colors, white);
        border-color: map-get($colors, black);
      }
    }
  }
}
