@import "common/variables";
@import "./autoload/bulma";
@import "common/utils";

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/roobert-semibold.woff2") format("woff2"),
    url("../fonts/roobert-semibold.woff") format("woff");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/roobert-bold.woff2") format("woff2"),
    url("../fonts/roobert-bold.woff") format("woff");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 900;
  src:
    url("../fonts/roobert-heavy.woff2") format("woff2"),
    url("../fonts/roobert-heavy.woff") format("woff");
}

body.smartsquare {
  background-color: map-get($colors, white);

  .main {
    margin-top: 0;
  }

  .hero--smartsquare {
    padding-bottom: 0;

    .hero__image {
      @include mobile {
        position: relative;
      }
    }

    .hero__layer {
      height: auto;
      left: auto;
      position: relative;
      top: auto;
      width: auto;

      @include tablet {
        padding: $spacer-xl $spacer-xl 0;
      }
    }

    .hero__header {
      display: block !important;

      @include tablet() {
        width: 40%;
      }
    }

    .hero__title {
      color: map-get($colors, black);
      padding: $spacer;
      text-align: left;

      @include tablet() {
        color: map-get($colors, white);
        padding: 0;
      }
    }

    .hero__content {
      display: flex;
      justify-content: flex-end;
      margin: 0 $spacer 0;

      @include tablet() {
        margin: $spacer 0 0;
      }
    }

    .hero__box {
      @extend %wobble-arrow;

      background-color: map-get($colors, salmon);
      border-radius: $radius;
      padding: $spacer;

      &::before {
        display: none;
      }

      @include tablet {
        padding: $spacer-l;
        width: 60%;
        transform: translateY($spacer-l);

        &::before {
          display: block;
          left: -20px;
          transform: rotate(-90deg);
        }
      }
    }
  }

  .banner {
    background-color: map-get($colors, yellow);

    @include tablet() {
      background-color: map-get($colors, yellow);

      a {
        color: map-get($colors, black);
      }
    }

    &.js-is-sticky {
      background-color: map-get($colors, yellow);
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: $spacer-l;
    text-align: center;

    @include tablet() {
      flex: 0 0 25%;
      margin-bottom: $spacer-xxxxl;
      max-width: 25%;
    }
  }

  .features__item-media {
    margin: 0 auto $spacer-s;
    max-width: 40%;

    @include tablet() {
      max-width: 100%;
    }
  }
}

.section--shooting,
.section--support {
  .tile {
    margin: 0;
  }
}

//
// Workspace card
//
.card--workspace {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer-l;

  @include tablet() {
    flex-direction: row;
  }

  .card__media {
    padding: 0;
    flex: 0 0 40%;
    width: auto;
  }

  .card__main {
    justify-content: center;
  }

  .card__header {
    margin: $spacer-s 0;

    @include tablet() {
      margin: 0 0 $spacer 0;
    }
  }

  .card__content {
    margin-bottom: $spacer;
  }

  .card__action {
    text-align: center;

    @include tablet() {
      text-align: left;
    }
  }
}

// Workspace feature styles
//
ul.facilities--workspace {
  border-top: 1px solid map-get($colors, black);
  margin-top: $spacer;
  padding-top: $spacer;

  > li {
    flex: 0 0 50%;
    max-width: 50%;

    @include tablet() {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }

  .icon {
    background-color: map-get($colors, light-grey);
  }
}

.section--support {
  .tile__header {
    margin: $spacer-l 0 0;
  }
}

//
// Workspaces prices
//
.workspace-prices {
  @extend .columns;
  @extend .is-gapless;

  border-bottom: 1px solid map-get($colors, black);
  margin-bottom: $spacer !important;
  padding-bottom: $spacer;
}

.workspace-prices__header {
  @extend .column;
  @extend .is-4;

  margin-bottom: $spacer !important;
  text-align: center;

  @include tablet() {
    margin-bottom: 0 !important;
    text-align: left;
  }
}

.workspace-prices__header-title {
  @extend %h2;

  margin-bottom: $spacer;
}

.workspace-prices__main {
  @extend .column;
  @extend .is-8;
}

.workspace-prices__card {
  background-color: map-get($colors, white);
  border-radius: $radius;
  padding: $spacer;

  @include tablet() {
    margin-left: $spacer;
  }
}

ul.workspace-prices__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.workspace-prices__list-item {
  border-style: solid;
  border-color: map-get($colors, light-grey);
  border-width: 1px;
  flex: 0 0 50%;
  margin-left: -1px;
  margin-top: -1px;
  padding: $spacer-s;

  &:nth-of-type(odd) {
    border-right: 1px solid map-get($colors, light-grey);
  }
}

.workspace-prices__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workspace-prices__price-label {
  flex: 0 0 100%;
}

.workspace-prices__price-value {
  align-items: flex-end;
  display: flex;
  flex: 0 0 30%;
  justify-content: flex-end;
  order: 2;
  text-align: right;
}

.workspace-prices__price-description {
  @extend %body-s;

  flex: 0 0 70%;
  margin-top: $spacer-xs;
}

//
// Community Card
//
.community-promo {
  background-color: map-get($colors, yellow);
  overflow-x: hidden;
  padding: $spacer-l 0;

  ul {
    li {
      margin-bottom: $spacer-s;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.community-promo__header {
  align-items: flex-end;
  display: flex;
  position: relative;
  text-align: center;

  img {
    display: none;
  }

  @include tablet() {
    text-align: left;

    img {
      display: block;
      flex: 0 0 40%;
      max-width: 40%;
      transform: translate(10%, 10%);
    }
  }
}

.community-promo__title {
  @extend %wobble-arrow;
  @extend %wobble-arrow--salmon;

  &::before {
    height: 265px;
    left: 0;
    margin: 0;
    transform: rotate(-90deg) translate(-50%, -130%);
    transform-origin: center top;
    width: 110px;
  }
}

.community-promo__card {
  @extend .column;
  @extend .is-4;
}

.community-promo__card-image {
  margin: 0 auto;
  max-width: 60%;
  transform: translateX(10%) translateY(10%) rotate(-15deg);
  transform-origin: left bottom;

  @include tablet() {
    max-width: 100%;
  }
}

.community-promo__content {
  @extend .column;
  @extend .is-8;
}

.community-promo__footer {
  text-align: center;

  @include tablet() {
    text-align: left;
  }
}

.tile--shoooting {
  @include tablet() {
    padding-left: $spacer-xl;
    padding-right: $spacer-xl;
  }

  .tile__media {
    justify-content: space-between;

    img {
      border-radius: $radius;
    }
  }
}

.tile--support {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  .tile__media {
    img {
      flex: 0 0 50%;
      margin: 0;
    }
  }
}

.content-info {
  padding: $spacer 0;

  .nav-footer {
    margin-bottom: $spacer-xxs;

    ul {
      justify-content: center;

      > li {
        flex: 0;

        a {
          color: map-get($colors, white);
          font-size: 0.5rem;
          padding: 0;
          white-space: nowrap;
        }
      }
    }
  }

  .colophon {
    margin: 0;
  }
}
