.avatar {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: inline-block;
  position: relative;
  z-index: 1;
}

.avatar__mask {
  @include tablet() {
    height: 294px;
    width: 254px;
    margin-left: 1px;
  }

  align-items: center;
  background-color: map-get($colors, black);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  height: 126px;
  justify-content: center;
  width: 109px;
}

.avatar__image {
  @include tablet() {
    height: 280px;
    width: 240px;
  }

  background-color: map-get($colors, white);
  display: block;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  height: 120px;
  object-fit: cover;
  object-position: center;
  width: 103px;
}
