.breadcrumbs {
  @extend .container;
  @extend %mobile-wrapper;

  @include typo($breadcrumb-desktop, $breadcrumb-mobile);

  line-height: 1;
  margin-top: $spacer !important;
  margin-bottom: $spacer !important;

  span {
    display: inline-block;
    line-height: 1;
  }

  a {
    color: map-get($colors, black);
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }
}
