// Buttons styles
//
.button {
  @include typo($button-desktop, $button-mobile);

  @include tablet() {
    padding: $spacer-s $spacer-l;
  }

  align-items: center;
  background-color: map-get($colors, yellow);
  border: 3px solid map-get($colors, yellow);
  border-radius: 99px;
  color: map-get($colors, black);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-width: 200px;
  padding: $spacer $spacer-l;
  position: relative;
  text-decoration: none;
  text-transform: none;

  &:hover {
    background-color: map-get($colors, white);
    border-color: map-get($colors, black);
  }
}

.button--working {
  color: transparent;

  &::after {
    @extend %spinner;

    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
  }
}

.button--s {
  @include typo($link-desktop, $link-mobile);

  min-width: auto;
  padding: calc(#{$spacer-s} + 1px) $spacer-l;
}

.button--l {
  min-width: auto;
  padding: calc(#{$spacer} - 1px) $spacer-xl;
}

.button--outline {
  background-color: transparent;
  border-color: map-get($colors, black);
}

.button--white {
  background-color: map-get($colors, white);
}

// Placeholders
//

%button-s {
  @extend %label-xs;

  align-items: center;
  appearance: none;
  background-color: map-get($colors, black);
  border: 0;
  border-radius: $radius;
  color: map-get($colors, white);
  cursor: pointer;
  display: inline-flex;
  padding: $spacer-xxs $spacer-s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  .icon {
    margin-right: $spacer-xs;
  }

  &:hover {
    background-color: map-get($colors, yellow);
    color: map-get($colors, black);
  }
}

// Magic Button styles
// - Like a link on desktop
// - A button on mobile

.magic-button {
  @include tablet() {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: map-get($colors, black);
    font-size: calculaterem(17);
    min-width: initial;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: transparent;
      box-shadow: 0 4px 0 map-get($colors, black);
    }
  }

  @include typo($link-desktop, $link-mobile);

  @extend .button;
}

.magic-button-outline {
  @include tablet() {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: map-get($colors, black);
    font-size: calculaterem(17);
    min-width: initial;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: transparent;
      box-shadow: 0 4px 0 map-get($colors, black);
    }
  }

  @include typo($link-desktop, $button-mobile);

  @extend .button;
  @extend .button--outline;
}
