.callout {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.callout__media {
  margin-bottom: $spacer;
  max-width: 40%;

  @include tablet() {
    max-width: none;
  }
}

.callout__main {
  text-align: center;
}

.callout__title {
  @extend %h5;

  margin-bottom: $spacer-s;
  text-transform: uppercase;
}

.callout__content {
  line-height: 1.6;
}
