// Carousels styles
//

.carousel {
  //
}

.carousel__container {
  @extend .container;
}

.carousel__image {
  position: relative;

  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.carousel__image-caption {
  @include tablet() {
    padding: 0.56em 1em;
  }

  @extend %link;

  align-items: center;
  background-color: map-get($colors, black);
  border-radius: 9999px;
  color: map-get($colors, white);
  display: flex;
  font-weight: 900;
  left: 1rem;
  padding: 0.5em 0.8em;
  position: absolute;
  top: 1rem;

  .icon {
    @include tablet() {
      font-size: 20px;
    }

    color: map-get($colors, white);
    font-size: 15px;
    margin-right: 0.5em;
  }
}

// Pagination
//
.carousel__pagination {
  @include typo($button-mobile, $button-mobile);

  background-color: map-get($colors, yellow);
  border-radius: 9999px;
  bottom: 1rem;
  left: 1rem;
  padding: 0 $spacer-s;
  width: auto;
}

// Bullet Pagination
//
.carousel__bullets {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: $spacer-l;
  width: 100%;
}

.carousel__bullets-item {
  border-color: map-get($colors, black);
  border-style: solid;
  border-width: 3px solid;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 16px;
  margin: 0 $spacer-xxs;
  width: 16px;

  &:focus {
    outline: none;
  }
}

.carousel__bullets-item--active {
  background-color: map-get($colors, black);
}

// Navigation
//
.carousel__nav {
  line-height: 1;
}

.carousel__button {
  @extend %unstyled-button;

  cursor: pointer;
  line-height: 1;
  margin: 0 $spacer-s;

  &:focus {
    outline: none;
  }

  .icon {
    font-size: $carousel-arrow-size;
  }
}

.carousel__button--disabled {
  cursor: initial;
  opacity: 0.2;
}

// Footer
// - Used in some carousels
.carousel__footer {
  margin-top: $spacer-l;

  .carousel__container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

// Standard carousel styles
//
.carousel--standard {
  .carousel__nav {
    @include tablet() {
      display: flex;
    }

    align-items: center;
    display: none;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: 100%;
  }

  .carousel__button {
    margin: 0;

    &:not(.carousel__button--disabled) {
      &:focus,
      &:hover {
        color: map-get($colors, yellow);
      }
    }
  }

  .carousel__button--prev {
    margin-left: $spacer;
  }

  .carousel__button--next {
    margin-right: $spacer;
  }
}

// Card carousel
// - Border radius
// - Navigation on hover with custom cursor
// - Fraction pagination
//
.carousel--card {
  border-radius: 10px;

  .carousel__image {
    @include tablet() {
      padding-bottom: 71.71%;
    }

    padding-bottom: 68.45%;
  }

  .carousel__image--portrait {
    @include tablet() {
      padding-bottom: 122.22%;
    }

    padding-bottom: 68.45%;
  }

  .carousel__nav {
    @include tablet() {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    display: none;
  }

  /* stylelint-disable no-descending-specificity */
  .carousel__button {
    color: map-get($colors, yellow);
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }
  /* stylelint-enable no-descending-specificity */

  .carousel__button--prev {
    @include tablet() {
      cursor: url("../images/icons/cursor-prev.svg"), pointer;
    }

    left: 0;

    &.carousel__button--disabled {
      cursor: default;
    }
  }

  .carousel__button--next {
    @include tablet() {
      cursor: url("../images/icons/cursor-next.svg"), pointer;
    }

    right: 0;

    &.carousel__button--disabled {
      cursor: default;
    }
  }
}

// Full carousel styles
// - Full Width
// - Have a footer with navigation and optional link
//
.carousel--full {
  .carousel__container {
    @include mobile() {
      justify-content: center;
    }
  }

  .carousel__nav {
    @extend .is-hidden-mobile;
  }

  .carousel__link {
    @include tablet() {
      margin-right: auto;
    }

    @extend .magic-button;
  }
}

.carousel--has-shadow {
  @include tablet() {
    box-shadow: 10px 10px 0 map-get($colors, black);
    margin-bottom: 10px;
  }

  box-shadow: 6px 6px 0 map-get($colors, black);
  margin-bottom: 6px;

  .feature--reverse & {
    margin-right: 10px;
  }
}

// Destinations carousel styles
//
.carousel--destinations {
  .carousel__slide {
    padding-right: $spacer-s;
  }
}

// Carousel Banner
.carousel--banner {
  position: relative;
  border-radius: $radius;
  overflow: hidden;

  .carousel__slide {
    figure {
      max-height: 550px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .carousel__bullets {
    position: absolute;
    bottom: $spacer;
    margin: 0;
    z-index: 1;
  }

  .carousel__nav {
    z-index: 1;

    button {
      &:not(.carousel__button--disabled) {
        color: map-get($colors, yellow);
      }
    }
  }
}

// Offers carousel styles
//
.carousel--offers {
  .carousel__container {
    justify-content: flex-end;
  }

  .swiper-slide {
    height: auto;
  }

  .card {
    height: 100%;
  }
}

// Tours carousel styles
//
.carousel--tours {
  .carousel__nav {
    /* stylelint-disable no-descending-specificity */
    .carousel__button {
      @extend %icon--white;

      &:hover {
        @extend %icon--yellow;
      }
    }
    /* stylelint-enable no-descending-specificity */
  }

  .carousel__link {
    @include tablet() {
      color: map-get($colors, white);

      &:hover {
        box-shadow: 0 3px 0 0 map-get($colors, yellow);
      }
    }
  }
}

// Authors carousel styles
//
.carousel--authors {
  padding: 0 $spacer-xl;

  .carousel__nav {
    @include tablet() {
      display: flex;
    }

    align-items: center;
    display: none;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    width: 100%;

    /* stylelint-disable no-descending-specificity */
    .carousel__button {
      @extend %icon--yellow;

      &:hover {
        @extend %icon--white;
      }

      margin: 0;
    }
    /* stylelint-enable no-descending-specificity */
  }

  .carousel__bullets {
    @extend .is-hidden-tablet;
  }

  .carousel__bullets-item {
    border-color: map-get($colors, white);
  }

  .carousel__bullets-item--active {
    background-color: map-get($colors, white);
  }
}

// Good to know carousel styles
//
.carousel--gtk {
  .carousel__bullets--gtk {
    @extend .carousel__bullets;

    @include tablet() {
      display: none !important;
    }
  }
}

// Room carousel styles
//
.carousel--room {
  .carousel__nav {
    $lh: map-get($h5-mobile, "line-height");

    @include tablet() {
      display: none !important;
    }

    display: flex;
    justify-content: space-between;
    min-height: calc(#{$lh} * 2);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.carousel--has-patch {
  padding-top: $spacer-xl;
}

// Eat Special carousel
.carousel--eatspecial {
  .carousel__slide {
    display: flex;
    align-items: center;

    .wobble-arrow {
      @extend %wobble-arrow;

      &::before {
        background-color: map-get($colors, violet) !important;
      }

      height: 87px;
      width: 36px;
      transform: rotate(-90deg) translateY(25px);
    }

    .text {
      text-align: left;
      width: 100%;

      h2 {
        max-width: 70%;
        line-height: 1.2;
      }
    }

    figure {
      width: 100%;
    }
  }

  .carousel__wrapper {
    margin-bottom: 2rem;
  }

  .carousel__bullets {
    max-width: 440px;
    margin: 2rem auto 0;
    justify-content: space-between;

    .carousel__bullets-item {
      background-color: map-get($colors, black);
      width: 11px;
      height: 11px;
    }
  }

  .carousel__nav {
    width: auto;
    top: unset;
    transform: unset;
    bottom: -12px;
    left: 0;
    justify-content: flex-start;
  }
}

// Slide for quotes
// - Used in tips carousel
.quote-slide {
  @include tablet() {
    flex-direction: row;
    text-align: left;
  }

  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.quote-slide__main {
  @include tablet() {
    margin-left: $spacer-xl;
  }

  flex: 1;
}

.quote-slide__content {
  @include typo($h3-desktop, $h3-mobile);

  .quote-slide__desc {
    @extend %h6;

    display: block;
    margin-bottom: $spacer-s;
  }
}

.quote-slide__cite {
  @extend %h6;
}

// Slide for reviews
// - Used in reviews carousel
.review-slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.review-slide__header {
  margin: $spacer 0;
}

.review-slide__main {
  margin: $spacer 0;
}

.review-slide__footer {
  margin: $spacer-s 0;

  cite {
    font-style: normal;
  }
}
