// Card styles
//
.card {
  background-color: map-get($colors, white);
  border-radius: $radius;
  display: block;
  position: relative;
  z-index: 2;

  &,
  a {
    color: map-get($colors, dark-grey);
    text-decoration: none;
  }

  // For cards with patch
  .patch {
    @include tablet() {
      height: 95px;
      width: 95px;
    }

    height: 70px;
    position: absolute;
    right: $spacer-s;
    top: 0;
    transform: translateY(-50%);
    width: 70px;
  }
}

.card__block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__media {
  border-radius: $radius $radius 0 0;
  overflow: hidden;
  padding-bottom: 65.43%;
  position: relative;
  width: 100%;
}

.card__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.card__top {
  @extend %label-s;

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer-xxs;
}

.card__main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: $spacer-s $spacer $spacer;
}

.card__title {
  @extend %h5;
}

.card__title-desc {
  @extend %label-s;

  display: block;
  margin-bottom: $spacer-xxs;
}

.card__content {
  @extend %body-s;

  margin: $spacer-s 0 auto;
}

.card__footer {
  @extend %label-s;

  @include tablet() {
    margin-top: $spacer;
  }

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: $spacer-s;
  padding: 0 $spacer $spacer;
}

.card- {
  @include color-modifiers;
}

// Post card styles
//
.card--post {
  @extend %has-hover-shadow;

  .author {
    flex: 1;
  }

  .card__title {
    $lh-desktop: map-get($h5-desktop, "line-height") / map-get($h5-desktop, "font-size");
    $lh-mobile: map-get($h5-mobile, "line-height") / map-get($h5-mobile, "font-size");

    @include tablet() {
      height: calc(#{$lh-desktop}em * 3);
    }

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: calc(#{$lh-mobile}em * 3);
    overflow: hidden;
  }

  .card__footer {
    @include typo($label-s-desktop, $label-xxs-mobile);

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

// Offer card styles
//
.card--offer {
  @extend %has-hover-shadow;

  // padding: $spacer-l;
  padding: 0;
  position: relative;
  height: 100%;

  .card__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding: 0;
    height: 100%;
  }

  .card__top {
    grid-row: 1;
    margin-bottom: $spacer;
  }

  .card__title {
    $lh-desktop: map-get($h3-desktop, "line-height") / map-get($h3-desktop, "font-size");
    $lh-mobile: map-get($h3-mobile, "line-height") / map-get($h3-mobile, "font-size");

    @extend %h3;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: calc(#{$lh-mobile}em * 2);
    overflow: hidden;
  }

  .card__content {
    @extend %body-s;

    margin-top: auto;
    margin-bottom: 0;
    position: relative;
  }
}

// Event card styles
//
.card--event {
  .card__title {
    $lh-desktop: map-get($h2-desktop, "line-height") / map-get($h2-desktop, "font-size");
    $lh-mobile: map-get($h2-mobile, "line-height") / map-get($h2-mobile, "font-size");

    @include tablet() {
      height: calc(#{$lh-desktop}em * 2);
    }

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: calc(#{$lh-mobile}em * 2);
    overflow: hidden;
  }

  .event-duration {
    align-items: center;
    display: flex;

    .icon {
      margin-right: $spacer-xs;
    }
  }

  .card__footer {
    @extend %body;

    align-items: flex-start;
    flex-direction: column;
    padding: 0;

    .event-duration {
      display: none;
    }
  }

  &.card--evento {
    @include tablet() {
      background-color: map-get($colors, white);

      &:hover {
        background-color: map-get($colors, green);
      }
    }

    background-color: map-get($colors, green);
  }

  &.card--fitness {
    @include tablet() {
      background-color: map-get($colors, white);

      &:hover {
        background-color: map-get($colors, green);
      }
    }

    background-color: map-get($colors, green);
  }

  &.card--cooking {
    @include tablet() {
      background-color: map-get($colors, white);

      &:hover {
        background-color: map-get($colors, green);
      }
    }

    background-color: map-get($colors, green);
  }

  &.card--game {
    @include tablet() {
      background-color: map-get($colors, white);

      &:hover {
        background-color: map-get($colors, green);
      }
    }

    background-color: map-get($colors, green);
  }

  &.card--bike-rental {
    @include tablet() {
      background-color: map-get($colors, white);

      &:hover {
        background-color: map-get($colors, green);
      }
    }

    background-color: map-get($colors, green);
  }
}

// Stacked card but look Horiz on mobile
// - Used on Blog page
.card--horz-on-mobile {
  @include mobile() {
    .card__block {
      flex-direction: row;
      min-height: 104px;
    }

    .card__main {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: $spacer-s $spacer $spacer-s;
    }

    .card__media {
      border-radius: $radius 0 0 $radius;
      flex: 0 0 158px;
      padding-bottom: 0;
    }

    .card__title-desc {
      @include typo($label-xs-desktop, $label-xxxs-mobile);
    }

    .card__title {
      @include typo($body-s-desktop, $label-xs-mobile);
    }

    .card__footer {
      @include typo($label-xs-desktop, $label-xxxs-mobile);

      margin-top: initial;
    }

    .author__avatar {
      display: none;
    }
  }
}

// Stacked card but look Horiz on mobile
// - Used on Blog page
.card--horz {
  .card__block {
    flex-direction: row;
    min-height: 104px;
  }

  .card__main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacer-s $spacer $spacer-s;
  }

  .card__media {
    border-radius: $radius 0 0 $radius;
    flex: 0 0 40%;
    padding-bottom: 0;
  }

  .card__title-desc {
    @include typo($label-xs-desktop, $label-xxxs-mobile);
  }

  .card__title {
    @include typo($body-s-desktop, $label-xs-mobile);
  }

  .card__footer {
    @include typo($label-xs-desktop, $label-xxxs-mobile);

    margin-top: initial;
  }

  .author__avatar {
    display: none;
  }
}

// Card big size
.card--big {
  &.card--post {
    .card__main {
      padding: $spacer $spacer-l $spacer;
    }

    .card__title-desc {
      @include typo($label-xs-desktop, $label-s-mobile);
    }

    .card__title {
      display: block;
      height: auto;
      overflow: initial;
    }

    .card__footer {
      @include typo($label-s-desktop, $label-xxs-mobile);
    }

    .author__avatar {
      height: 54px;
      width: 54px;
    }
  }
}

.card--small {
  &.card--event {
    .card__top {
      display: none;
    }

    .card__title {
      @include typo($h6-desktop, $h5-mobile);
    }

    .card__footer {
      @extend %label-xs;
    }
  }
}
