// Cover style
//
.cover {
  border-radius: $radius;
  color: map-get($colors, white);
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.cover__media,
.cover__layer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.cover__media {
  background-color: map-get($colors, black);

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
    width: 100%;
  }
}

.cover__layer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__title {
  margin-bottom: $spacer-l;
}

.cover__content {
  @extend %h6;

  margin-bottom: $spacer-l;
}

.destination-cover {
  @extend %has-hover-shadow;

  border-radius: $radius;
  display: block;
  overflow: hidden;
  padding-bottom: 120.99%;
  position: relative;
}

.destination-cover__media {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.destination-cover__image {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.destination-cover__content {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.destination-cover__title {
  @extend %h5;

  background-color: map-get($colors, black);
  border-radius: 999px;
  color: map-get($colors, white);
  display: inline-block;
  padding: 0.31em 1.2em;
}
