// Arrow placeholders
//
.fancy-underline {
  display: inline-block;
  margin-bottom: $spacer;
  position: relative;
  z-index: 10;

  &::before {
    background-color: map-get($colors, yellow);
    content: "";
    left: 50%;
    mask-image: url(../images/elements/fancy-underline.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    padding-bottom: 22.8%;
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
    transform-origin: center;
    width: 120%;
    z-index: -1;
  }
}

.fancy-underline--blue {
  &::before {
    background-color: map-get($colors, blue);
  }
}

.fancy-underline--violet {
  &::before {
    background-color: map-get($colors, violet);
  }
}

.fancy-underline--salmon {
  &::before {
    background-color: map-get($colors, salmon);
  }
}

.fancy-underline--green {
  &::before {
    background-color: map-get($colors, green);
  }
}

.fancy-underline--orange {
  &::before {
    background-color: map-get($colors, orange);
  }
}
