// Feature styles
// - Like a Item, but more more more complicated
// - Button change on mobile
// - Different content order on mobile

.facilities {
  @extend %unstyled-list;

  display: flex;
  flex-wrap: wrap;
  margin-top: $spacer;

  > li {
    align-items: center;
    display: flex;
    margin: $spacer-xxs 0;
  }

  .icon {
    background-color: map-get($colors, white);
    border-radius: 50%;
    font-size: 26px;
    margin-right: $spacer-s;
  }
}

.facilities--room {
  > li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.facilities--work {
  padding-inline-start: 0;

  > li {
    flex: 0 0 50%;
    max-width: 50%;
    font-size: small;
  }

  img {
    max-width: 20px;
  }

  .checkmark {
    width: 20px;
    height: 20px;
    background-color: map-get($colors, green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: $spacer-s;

    svg {
      display: block;
      max-width: 10px;
    }
  }
}

.feature {
  @include tablet() {
    flex-direction: row;
  }

  align-items: center;
  display: flex;
  flex-direction: column;
}

.feature__media {
  @include tablet() {
    flex: 0 0 50%;
    padding-right: $spacer-xl;
  }

  position: relative;
  width: 100%;

  // Wobble Arrow
  &.has-wobble-arrow {
    &--right {
      @extend %wobble-arrow;

      &::before {
        top: 50% !important;
        left: unset !important;
        right: -30px !important;
        transform: translateY(-50%) rotate(-90deg) !important;

        @media only screen and (max-width: 768px) {
          display: none !important;
        }
      }
    }

    &--left {
      @extend %wobble-arrow;

      &::before {
        top: 50% !important;
        left: -10px !important;
        transform: translateY(-50%) rotate(90deg) !important;

        @media only screen and (max-width: 768px) {
          display: none !important;
        }
      }
    }
  }
}

.feature__figure {
  position: relative;

  img {
    border-radius: $radius;
  }
}

.feature__figcaption {
  left: $spacer;
  position: absolute;
  top: $spacer;
}

.feature__main {
  @include tablet() {
    flex: 0 0 50%;
    padding-right: $spacer-xl;
  }
}

.feature__header {
  @include tablet() {
    display: block;
    margin: 0 0 $spacer-l 0;
    text-align: left;
  }

  display: none;
  margin: $spacer 0;
  text-align: center;
}

.feature__header-mobile {
  @include tablet() {
    display: none !important;
  }

  margin-bottom: $spacer;
  padding: 0 $spacer;
  text-align: center;
  width: 100%;
}

.feature__content {
  @include tablet() {
    margin: 0;
    padding: 0 0 0 $spacer-xl;
    text-align: left;
  }

  margin: $spacer 0;
  padding: 0 $spacer;
  text-align: center;

  .has-small-font-size {
    margin-top: $spacer-s;
    line-height: 1.3em;
  }
}

.feature__action {
  @include tablet() {
    margin-top: $spacer-l;
    padding-left: $spacer-xl;
    text-align: left;
  }

  text-align: center;
}

.feature--reverse {
  @include tablet() {
    flex-direction: row-reverse;
  }

  .feature__media {
    @include tablet() {
      padding-left: $spacer-xl;
      padding-right: 0;
    }
  }

  .feature__main {
    @include tablet() {
      padding-left: $spacer-xl;
      padding-right: 0;
    }
  }
}

.feature--horz {
  @include tablet() {
    .feature__media {
      padding: 0;
    }

    .feature__main {
      @include tablet() {
        padding: 0 $spacer-xl;
      }
    }
  }
}

.feature-standard-flow {
  .feature__header {
    @include tablet() {
      display: block;
    }

    display: block;
  }
}

// Feature Idea
.feature--idea {
  .feature__media {
    @include mobile() {
      margin-bottom: $spacer;
    }
  }
}

// Feature Rooms category
.feature--room-cat {
  @extend .feature--horz;

  .feature__header {
    margin: 0;
  }

  .feature__header-mobile {
    text-align: left;
  }

  .feature__content {
    padding: 0;
  }

  .feature__action {
    padding: 0;
  }

  .rooms-capacity {
    @extend %label;

    @include tablet() {
      margin: $spacer 0;
    }

    margin: $spacer-s 0;
    text-align: left;

    .icon {
      @include tablet() {
        font-size: 25px;
      }

      font-size: 22px;
      margin-right: $spacer-s;
    }
  }

  .from-price {
    @include tablet() {
      right: $spacer-l;
      top: 0;
      transform: translateY(-40%);
    }

    line-height: 1;
    pointer-events: none;
    position: absolute;
    right: $spacer;
    top: $spacer;
    z-index: 1;

    svg {
      @include tablet() {
        transform: scale(1);
      }

      transform: scale(0.7263);
    }
  }

  .from-price- {
    @include color-modifiers-svg();
  }
}

.feature--room {
  @extend .feature--horz;

  .feature__header {
    margin-bottom: $spacer;
  }

  &:not(:first-child) {
    margin-top: $spacer-l;
  }

  .feature__header-mobile {
    $lh: map-get($h5-mobile, "line-height");

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(#{$lh} * 2);
    padding: 0 $spacer-xxxl;
    text-align: center;
  }

  .feature__title {
    @extend %h5;
  }

  .feature__content {
    @include typo($body-s-desktop, $body-mobile);

    @include mobile() {
      display: flex;
      flex-direction: column-reverse;

      .room-facilities {
        margin: 0 0 $spacer-s;
      }
    }

    padding: 0;
  }

  .feature__action {
    padding: 0;
  }
}

.features {
  .feature {
    margin-bottom: $spacer-xl;
  }
}

.features--alternate {
  .feature {
    &:nth-of-type(odd) {
      @extend .feature--reverse;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
