// Form styles
//
.form {
  //
}

.form__actions {
  @include tablet() {
    margin-top: $spacer-xl;
  }

  margin-top: $spacer;
  text-align: center;
}

.form__footer {
  @include typo($body-s-desktop, $body-mobile);

  margin-top: $spacer-l;
  text-align: center;
}

.form__fieldsets {
  @include tablet() {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
}

.form__fieldset {
  @include tablet() {
    margin-right: $spacer-l;
    margin-bottom: 0;
  }

  border: 0;
  flex: 1;
  margin-bottom: $spacer-l;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.form__fieldset-fields {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form__legend {
  @include typo($body-s-desktop, $body-mobile);

  margin-bottom: $spacer;
}

.form__row {
  @include tablet() {
    flex-direction: row;
  }

  display: flex;
  flex: column;
  margin-bottom: $spacer;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__row--stacked {
  flex-direction: column;
}

.form__row-stacked-mobile {
  @include mobile() {
    flex-direction: column;

    .form__field {
      margin-right: 0;
      margin-bottom: $spacer;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.form__row--can-grow {
  flex: 1;

  textarea {
    height: 100%;
  }
}

.form__field {
  flex: 1;
  margin-right: $spacer;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &.form__field--3 {
    flex: 0 0 25%;
  }

  &.form__field--4 {
    flex: 0 0 33.333333%;
  }
}

.form__field--has-icon {
  .icon {
    pointer-events: none;
    height: auto;
    position: absolute;
    right: $spacer-s;
    top: 0;
    width: 22px;
    transform: translateY(calc(50% + 3px));
  }
}

.form__field--has-submit-inside {
  button {
    @extend %unstyled-button;

    cursor: pointer;
    font-size: 0;
    position: absolute;
    right: $spacer-s;
    top: 50%;
    transform: translateY(-50%);

    .icon {
      height: auto;
      font-size: 39px;
    }

    &:hover,
    &:focus {
      outline: none;

      .icon {
        color: map-get($colors, yellow);
      }
    }
  }
}

.control {
  @extend %label-s;

  border: 3px solid map-get($colors, black);
  border-radius: $radius;
  height: 53px;
  padding: $spacer-xs $spacer-s;
  width: 100%;

  &:focus {
    border-color: map-get($colors, yellow);
    outline: none;
  }

  .field--has-icon & {
    padding-right: 3.3rem;
  }

  &.control--l {
    @extend %label;

    height: 74px;
    padding: 0 $spacer;
  }
}

// Custom select styles
//
.ys-select {
  @extend %label-s;

  appearance: none;
  background-color: map-get($colors, white);
  background-image: url(../images/icons/caret-down.svg);
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  border: 3px solid map-get($colors, black);
  border-radius: $radius;
  color: #7f7f7f;
  height: 53px;
  margin: 0;
  padding: 0 $spacer-s;
  width: 100%;

  &:focus {
    outline: none;
  }
}

// Custom checkbox styles
//
.checkbox {
  align-items: center;
  display: flex;
  position: relative;
}

.checkbox__label {
  @include typo($nav-desktop, $label-s-mobile);

  align-items: center;
  border-color: transparent;
  border-radius: $radius;
  border-style: solid;
  border-width: 3px;
  display: flex;
  font-weight: 700 !important;
  padding: $spacer-s;
  width: 100%;

  &::before {
    background-color: map-get($colors, white);
    border: 3px solid map-get($colors, black);
    content: "";
    display: block;
    height: 19px;
    margin-right: $spacer-s;
    width: 19px;
  }
}

.checkbox__input {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:checked {
    + .checkbox__label {
      &::before {
        background-color: map-get($colors, yellow);
      }
    }
  }

  &:focus {
    + .checkbox__label {
      border-color: map-get($colors, yellow);
    }
  }
}

// Filter Checkbox
.filter-checkboxes {
  h6 {
    margin: 0 0 $spacer;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    label {
      display: flex;
      align-items: center;
      margin-right: $spacer;
      cursor: pointer;

      input {
        display: none;

        & + span {
          width: 20px;
          height: 20px;
          background-color: map-get($colors, white);
          border: 3px solid map-get($colors, black);
          display: block;
          margin-right: $spacer-s;
        }

        &:checked + span {
          background-color: map-get($colors, yellow);
        }
      }
    }
  }
}

// Almost pointless stepper
//
/* stylelint-disable no-descending-specificity */
.stepper {
  align-items: center;
  background-color: map-get($colors, white);
  border: 3px solid map-get($colors, black);
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 0 $spacer-s;

  .stepper__label {
    align-items: center;
    display: flex;
    margin-right: auto;

    .icon {
      font-size: 23px;
    }
  }

  input[type="number"] {
    @extend %label-s;

    border: 0;
    height: 47px;
    background: transparent;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 35px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
      padding: 0;
    }
  }

  button {
    @extend %unstyled-button;

    @include tablet() {
      background-color: transparent;
    }

    background-color: map-get($colors, yellow);
    border-radius: 50%;
    height: 21px;
    line-height: 21px;
    padding: 0;
    width: 21px;

    &:focus {
      outline: none;
    }
  }
}
/* stylelint-enable no-descending-specificity */
