// Heading styles
//

.heading {
  @extend %h3;

  @include tablet() {
    padding: $spacer-xl 0;
  }

  padding: $spacer 0;
  text-align: center;
}

.heading__container {
  @extend .container;
}

.heading--has-top-wobble-arrow {
  @extend %wobble-arrow;
  @extend %wobble-arrow--violet;

  @include tablet() {
    padding-top: $spacer-xxxl;
  }

  padding-top: $spacer-xxl;
}
