// Hero styles
//
.hero {
  background-color: map-get($colors, white);
  position: relative;
}

.hero__image,
.hero__video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.hero__layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__header {
  @extend .is-hidden-mobile;

  color: map-get($colors, yellow);
  display: block;
  position: relative;
  z-index: 1;
}

.hero__title {
  @extend %h1;

  margin-bottom: $spacer-s;
  text-align: center;
}

.hero__subtitle {
  @extend %label-s;

  a {
    align-items: center;
    color: map-get($colors, yellow);
    display: flex;
    justify-content: center;
    text-decoration: none;

    .icon {
      margin-right: $spacer-s;
    }
  }
}

.hero__content {
  @extend .is-hidden-mobile;

  flex: initial;
  margin: 0;
  position: relative;
  z-index: 1;
}

.hero--corporate {
  @extend %wobble-arrow;
  @extend %wobble-arrow--pink;

  padding-bottom: 43.13%;

  &::before {
    @include tablet() {
      bottom: -50px;
      display: block;
    }

    bottom: -30px;
    display: none;
    top: auto !important;
    z-index: 1;
  }

  .hero__title {
    span {
      &:nth-of-type(1) {
        @extend .tape;
        @extend .tape--blue;

        &::before {
          transform: rotate(-7deg);
        }
      }
    }
  }
}

.hero--destination {
  @extend %wobble-arrow;

  padding-bottom: 43.13%;

  &::before {
    @include tablet() {
      bottom: -50px;
      display: block;
    }

    bottom: -30px;
    display: block;
    top: auto !important;
    z-index: 1;
  }

  @include mobile() {
    .hero__header {
      display: block !important;
    }

    .hero__subtitle {
      display: none;
    }
  }
}
