// Icons styles
//

.icon {
  display: inline-block;
  font-size: 16px;
  overflow: visible;
  width: 1em;
}

%icon--black {
  path {
    fill: map-get($colors, black);
  }
}

%icon--yellow {
  path {
    fill: map-get($colors, yellow);
  }
}

%icon--white {
  path {
    fill: map-get($colors, white);
  }
}
