// Item styles
//
.item {
  @extend %has-hover-shadow;

  background-color: map-get($colors, white);
  border-radius: $radius;
  overflow: hidden;
}

.item__block {
  display: flex;
  height: 100%;
  text-decoration: none;
}

.item__media {
  height: 100%;
  position: relative;
}

.item__image {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item__main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacer-s;
}

.item__header {
  line-height: 1;
}

.item__title-desc {
  @include typo($label-xs-desktop, $label-xxxs-mobile);
}

.item__title {
  @include typo($body-s-desktop, $label-s-mobile);
}

.item__footer {
  @include typo($label-xs-desktop, $label-xxxs-mobile);

  align-items: center;
  display: flex;
  justify-content: space-between;
}

.facility {
  //
}

.facility__button {
  align-items: center;
  display: flex;
  margin: $spacer-s 0;
  text-decoration: none;
}

.facility__icon {
  @include tablet() {
    width: 60px;
  }

  margin-right: $spacer-s;
  margin-left: $spacer-s;
  width: 44px;
}

.facility__title {
  @include typo($body-desktop, $label-mobile);

  text-align: left;
}
