.loader {
  align-items: center;
  background-color: rgba(map-get($colors, black), 0.75);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  svg {
    height: 100px;
    width: 100px;
  }

  g {
    animation: 2s linear infinite g--animation;
    transform-origin: 50% 50%;
  }

  circle {
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-name: circle--animation;
    fill: transparent;
    stroke: map-get($colors, white);
    stroke-width: 6;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    stroke-dashoffset: 45;
    stroke-dasharray: 283;
  }
}

body {
  &.loader-is-visible {
    overflow: hidden;
    padding-right: 20px;

    .loader {
      display: flex;
    }
  }
}

@keyframes circle--animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

@keyframes g--animation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
