@keyframes marquee {
  0% {
    transform: translate3d(var(0%), 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee {
  overflow: hidden;
  position: relative;

  .marquee__tape {
    align-items: center;
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-name: marquee;
    animation-timing-function: linear;
    display: flex;
    position: relative;
    width: fit-content;

    span {
      white-space: nowrap;
    }
  }

  .marquee__segment {
    align-items: center;
    display: flex;
    width: fit-content;
  }
}

.marquee--quotes {
  @extend .is-hidden-mobile;

  margin: $spacer-xxl 0 0;

  .marquee__tape {
    @extend %h3;

    animation-duration: 240s;
    line-height: 1.5em;

    span {
      display: inline-block;
      margin: 0 $spacer-xs;

      &::after {
        content: "-";
        display: inline-block;
        margin-left: $spacer-s;
      }
    }
  }
}

.marquee--press {
  .marquee__tape {
    animation-duration: 10s;
    line-height: 1.5;
  }

  img {
    @include tablet() {
      min-width: 20vw;
    }

    min-width: 40vw;
    padding: 0 $spacer;
  }
}
