.modal {
  @extend %has-shadow;

  display: none;
  text-align: center;
}

.modal__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer;
}

.modal__title {
  @extend %h5;
}

.modal__main {
  //
}

.modal--animated {
  max-width: 700px;
  border-radius: $radius;
  overflow: hidden;
  transform: translateY(-80px);
  transition: all 0.5s;

  .modal__header,
  .modal__main {
    transform: translateY(-40px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
  }

  .fancybox-slide--current & {
    &,
    .modal__header,
    .modal__main {
      transform: translateY(0);
      opacity: 1;
      transition-duration: 0.3s;
    }

    .modal__header {
      transition-delay: 0.1s;
    }

    .modal__main {
      transition-delay: 0.4s;
    }
  }
}

.modal- {
  @include color-modifiers();
}
