.nav {
  display: flex;
  list-style: none;

  > li {
    flex: 1;
    line-height: 1;

    &.menu-item-has-children {
      cursor: pointer;
      position: relative;
    }
  }

  a {
    @extend %nav;

    display: block;
    padding: 0 1rem;
    text-decoration: none;
  }
}

.sub-menu {
  background-color: map-get($colors, white);
  display: none;
  position: absolute;
  width: 100%;

  .menu-item {
    a {
      color: map-get($colors, black) !important;
      padding: $spacer-xs $spacer-s;
    }
  }

  .sub-manu-is-visible & {
    display: block;
  }
}

.nav--vertical {
  flex-direction: column;
}

.dropdown {
  //
}

.dropdown__button {
  @extend %unstyled-button;

  appearance: none;
  border-bottom: 1px solid map-get($colors, grey);
  cursor: pointer;
  font-weight: 900;
  padding: $spacer $spacer;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  .icon {
    margin-right: $spacer-s;
  }

  .dropdown--is-active & {
    border-bottom-color: transparent;
  }
}

.dropdown__trigger {
  @include tablet() {
    display: none;
  }
}

.dropdown__menu {
  @include tablet {
    display: block;
    padding: 0;
  }

  padding: 0 $spacer;

  .dropdown--is-active & {
    @include mobile {
      border-bottom: 1px solid map-get($colors, grey);
      display: block;
    }
  }

  display: none;

  .dropdown__list {
    padding-bottom: $spacer-l;

    a {
      @extend %label;

      @include tablet() {
        font-weight: 700;
        padding: $spacer-s 0;
        text-transform: none;
      }

      color: map-get($colors, grey);
      display: block;
      font-weight: 900;
      padding: $spacer #{$spacer-s + $spacer};
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .nav__item--active {
    a {
      color: map-get($colors, black);
    }
  }
}
