.patch {
  @include tablet() {
    height: 180px;
    width: 180px;
  }

  display: inline-block;
  height: 180px;
  font-size: 0;
  width: 180px;
}

.patch--rotate-left {
  transform: rotate(-15deg);
}

.patch--rotate-right {
  transform: rotate(15deg);
}
