.registration {
  background-color: map-get($colors, white);
  border-radius: $radius;
  position: absolute;
  right: 0;
  bottom: -38px;
  z-index: 1;
  padding: $spacer-l;

  h3 {
    @include typo($body-desktop, $body-mobile);

    margin-bottom: $spacer;
  }
}
