%spinner {
  animation: spinAround 500ms infinite linear;
  border: 2px solid map-get($colors, black);
  border-radius: 999px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
