.tabs {
  width: 100%;
}

.tabs__nav {
  margin-bottom: $spacer-xl;
}

.tabs__list {
  @extend %unstyled-list;

  align-items: center;
  display: flex;
  justify-content: center;
}

.tabs__item {
  @extend %label;

  margin: 0 $spacer;
  text-align: center;

  a {
    @include tablet() {
      padding: $spacer-xs 0;
    }

    color: map-get($colors, black);
    display: inline-block;
    margin: 0 0 3px;
    padding: $spacer-xs 0;
    text-decoration: none;
  }

  &.tabs__item--active {
    a {
      box-shadow: 0 3px 0 0 map-get($colors, yellow);
    }
  }
}

.tabs-content {
  display: none;
  opacity: 0;
  transition: opacity 0.25s linear;

  &.tabs-content--active {
    display: block;
  }

  &.tabs-content--shown {
    opacity: 1;
  }
}
