.tag {
  @include tablet() {
    padding: 0.56em 1em;
  }

  align-items: center;
  background-color: map-get($colors, black);
  border-radius: 9999px;
  color: map-get($colors, white);
  display: inline-flex;
  padding: 0 1em;
  position: relative;
  text-decoration: none;
  z-index: 1;

  .icon {
    margin-right: $spacer-xs;
  }
}

.tag--small {
  @include tablet {
    padding: 0.435em 1.4em;
  }

  @extend .tag;
  @extend %label-s;

  padding: 0.6em 1.4em;
}

.tag--position {
  @extend %button;

  @include tablet() {
    height: 43px;
    padding: 0 1em;
  }

  height: 36px;

  .icon {
    @include tablet() {
      font-size: 13px;
    }

    font-size: 10px;
  }
}
