// Tile styles
//
.tile {
  @extend .container;
  @extend %mobile-wrapper;

  border-radius: $radius;
  padding: $spacer-xl $spacer $spacer-xl;
  margin-bottom: $spacer-l !important;
  margin-top: $spacer-l !important;
  position: relative;
  text-align: center;

  > .patch {
    left: $spacer-xl;
    position: absolute;
    top: 0;
    transform: translateY(-30%) rotate(-24deg);
  }
}

.tile__media {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $spacer-l;

  > img {
    margin: $spacer-s 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include tablet() {
    flex-direction: row;

    > img {
      margin: 0 $spacer;
    }
  }
}

.tile__eat-special-banner {
  max-width: 960px !important;
  padding: 0 15px;
  margin-bottom: $spacer-xxxxl !important;
}

.tile__header {
  margin-bottom: $spacer-l;
}

.tile__header-banner {
  margin: 0 auto;
  padding: $spacer 0;
  margin-top: 0 !important;
}

.tile__title {
  @extend %h3;
}

.tile__main {
  p {
    margin-bottom: $spacer-l;

    &:last-child() {
      margin-bottom: 0;
    }
  }
}

.tile__footer {
  margin-top: $spacer-l;
}

.tile- {
  @include color-modifiers();
}

.tile--has-shadow {
  @extend %has-shadow;
}

.tile--gtk {
  .tile__header {
    span {
      display: block;

      &:nth-of-type(1) {
        @include typo($h4-desktop, $h3-mobile);
      }

      &:nth-of-type(2) {
        @include typo($h5-desktop, $h6-mobile);
      }

      &:nth-of-type(3) {
        @include typo($body-desktop, $body-s-mobile);

        margin-top: $spacer-s;
      }
    }
  }
}

.tile--has-cover {
  @include tablet() {
    padding: $spacer-xxxl $spacer;
  }

  color: map-get($colors, white);
  position: relative;

  .tile__image {
    border-radius: $radius;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.tile--has-arrow {
  position: relative;

  @include wobble-arrow(map-get($colors, yellow));

  &::before {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.tile--has-arrow-on-desktop {
  @include desktop() {
    position: relative;

    @include wobble-arrow(map-get($colors, yellow));

    &::before {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}

.tile--has-arrow-on-mobile {
  @include mobile() {
    margin-top: $spacer-xl;
    position: relative;

    @include wobble-arrow(map-get($colors, yellow));

    &::before {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}
