body {
  &.page-template-about-us {
    background-color: map-get($colors, light-grey);
  }
}

.about-us-features {
  @extend .features;

  .feature {
    .feature__media {
      @include mobile() {
        grid-row: 1;
        padding: 0 20%;
      }
    }

    .feature__header {
      @include mobile() {
        grid-row: 2;
      }
    }

    &:nth-of-type(1) {
      @include mobile {
        &::before {
          display: none;
        }
      }

      @include wobble-arrow(map-get($colors, violet)) {
        top: 90%;
      }
    }

    &:nth-of-type(3) {
      @include tablet() {
        @include wobble-arrow(map-get($colors, salmon)) {
          top: 110%;
        }
      }

      @include mobile() {
        @include wobble-arrow(map-get($colors, blue)) {
          bottom: -80px;
          z-index: 1;
        }
      }
    }
  }
}
