body {
  &.page-template-eat-and-party {
    background-color: map-get($colors, salmon);
  }
}

// Archive Page
.post-type-archive-eat {
  background-color: map-get($colors, violet);
}

.eat-party-archive {
  .feature {
    &:not(:last-child) {
      margin-bottom: $spacer-xxxl;
    }
  }
}

// Single Page
.single-eat {
  background-color: map-get($colors, light-grey);
}

.post-opening-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h4 {
    @include typo($body-desktop, $body-mobile);

    font-weight: 800 !important;
    margin-bottom: $spacer;
  }
}

.where {
  h4 {
    @include typo($body-desktop, $body-mobile);

    font-weight: 800 !important;
    margin-bottom: $spacer;
  }
}

.responsive-map {
  position: relative;
  width: 100%;
  max-width: 850px;
  padding-bottom: 35%;
  overflow: hidden;
  margin-top: $spacer;
  margin-bottom: $spacer;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.bottom-banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: $radius;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: map-get($colors, black);
    opacity: 0.5;
    z-index: 2;
  }

  .bottom-banner__text {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacer-xxl;
    color: map-get($colors, white);
    text-align: center;

    .bottom-banner__title,
    .bottom-banner__subtitle {
      margin-bottom: $spacer;
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
