.page-template-faq {
  .main {
    margin-top: 0;
  }
}

.faq-header {
  background-color: map-get($colors, green);
  padding: $spacer-xxl 0;
  text-align: center;
}

.faq-header__title {
  @extend .page-header__title;
}

.faq-search {
  margin-top: $spacer;

  .faq-search__form {
    @include tablet() {
      max-width: none;
    }

    margin: 0 auto;
    max-width: 70vw;
  }

  .form__field {
    .icon {
      font-size: 22px;
    }
  }
}

.faq-main {
  @include tablet() {
    margin-top: $spacer-xxl;
  }
}

.group-faq {
  @extend %mobile-inner-wrapper;

  margin: 0 0 $spacer-xxxl;
}

.group-faq__title {
  @extend %h4;

  margin: 0 0 $spacer-l;
  text-transform: uppercase;
}

.faq {
  .ys-plus {
    display: block;
  }

  .ys-minus {
    display: none;
  }

  &[open] {
    .ys-plus {
      display: none;
    }

    .ys-minus {
      display: block;
    }
  }

  .faq__question {
    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &:focus {
      outline: none;
    }

    cursor: pointer;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: $spacer-s 0;
  }

  .faq__answer {
    color: map-get($colors, grey);
    margin: $spacer-l 0;
  }
}

.search-counter {
  @extend %body-s;
  @extend %mobile-wrapper;

  color: map-get($colors, grey);
  display: none;
  margin-bottom: $spacer;

  .have-search-results & {
    display: block;
  }
}
