// Intro styles
//
.intro {
  @include tablet() {
    padding: $spacer-xxl 0;
  }

  background-color: map-get($colors, light-grey);
  overflow: auto;
  padding: $spacer-l 0;
}

.intro__heading {
  @extend .container;
  @extend %mobile-wrapper;
  @extend %wobble-arrow;
  @extend %wobble-arrow--salmon;

  @include tablet() {
    margin-bottom: $spacer-xxl !important;
  }

  @include mobile() {
    margin-bottom: $spacer-xl !important;
  }

  margin-bottom: $spacer-xxxxl !important;
  text-align: center;

  &::before {
    @include tablet() {
      display: none;
    }

    display: block;
    top: calc(100% + 12px);
    z-index: 1;
  }
}

.intro__features {
  @extend .container;
  @extend .columns;
  @extend .is-centered;
  @extend .is-gapless;

  @include tablet() {
    padding: 0;
  }

  padding: 0 $spacer;

  .feature {
    margin-bottom: $spacer-xl;
  }
}

.intro__features-items {
  @extend .column;
  @extend .is-10;

  .feature {
    .feature__preheader {
      margin-bottom: $spacer;
    }
    /* stylelint-disable no-descending-specificity */
    &:nth-of-type(1) {
      .feature__header,
      .feature__header-mobile {
        span {
          @extend .tape;
          @extend .tape--green;

          margin-left: -0.5rem;

          &::before {
            transform: rotate(-4deg);
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      .feature__header,
      .feature__header-mobile {
        span {
          &:nth-of-type(1) {
            @extend .tape;
            @extend .tape--violet;

            margin-left: -0.5rem;

            &::before {
              transform: rotate(1deg);
            }
          }
        }
      }
    }

    &:nth-of-type(3) {
      .feature__header,
      .feature__header-mobile {
        span {
          &:nth-of-type(1) {
            @extend .tape;
            @extend .tape--salmon;

            margin-left: -0.5rem;

            &::before {
              transform: rotate(-4deg);
            }
          }
        }
      }
    }
    /* stylelint-enable no-descending-specificity */
  }
}

.destinations {
  //
}

.destinations__container {
  @extend .container;

  position: relative;

  .patch {
    left: -65px;
    position: absolute;
    top: -80px;
    transform: rotate(-15deg);
    z-index: 2;
  }
}

body {
  &.home-destination {
    .main {
      margin-top: 0;
    }
  }

  &.home {
    .banner {
      @include tablet() {
        background-color: transparent;
        color: map-get($colors, white);
        //padding-right: $spacer;
        position: fixed !important;
        top: 0;
        width: 100%;

        a {
          color: map-get($colors, white);
        }

        .brand__image {
          display: none;
        }

        .brand__image-white {
          display: block;
        }
      }

      .book-now {
        display: none;
      }

      &.js-is-sticky {
        background-color: map-get($colors, white);
        color: map-get($colors, black);

        a {
          color: map-get($colors, black);
        }

        .brand__image {
          display: block;
        }

        .brand__image-white {
          display: none;
        }

        .book-now {
          display: flex;
        }
      }
    }

    .main {
      margin-top: 0;
    }

    &.admin-bar {
      .banner {
        @include tablet() {
          top: 32px !important;
        }

        top: 46px !important;
      }
    }
  }
}
