body {
  &.page-template-group-booking {
    background-color: map-get($colors, light-grey);

    .page-header {
      @include mobile() {
        @include wobble-arrow(map-get($colors, yellow));

        padding-bottom: $wobble-arrow-height-mobile + 16;
      }

      &::before {
        bottom: 0;
      }
    }

    .page-header__subtitle {
      @include typo($body-s-desktop, $body-mobile);
    }

    .groups-plus {
      @include tablet() {
        row-gap: $spacer-xl;
      }

      @extend %body-s;

      column-gap: $spacer;
      row-gap: $spacer;
    }

    .group-plus__item {
      @include tablet() {
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      align-items: center;
      display: flex;

      img {
        @include tablet() {
          margin: 0 auto $spacer * 1.5;
          width: auto;
        }

        display: block;
        margin: 0 $spacer 0 0;
        width: 38px;
      }
    }
  }
}
