body {
  &.blog,
  &.single-post {
    background-color: map-get($colors, yellow);
  }
}

.blog-toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer-l;
}

.blog-toolbar__filters {
  flex: 0 0 50%;
  max-width: 50%;
  align-items: center;
  display: flex;

  .ys-select {
    flex: 1;
    min-width: initial;

    &:first-child {
      margin-right: $spacer;
    }
  }
}

.blog-toolbar__nav {
  @include tablet() {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .tabs {
    @include tablet() {
      margin: 0;
      width: auto;
    }

    margin: $spacer-l 0;
  }

  .tabs__nav {
    margin: 0;
  }

  .tabs__item {
    @include tablet() {
      flex: initial;

      a {
        margin-left: $spacer;
        margin-right: $spacer;
      }
    }

    &.tabs__item--active {
      a {
        box-shadow: 0 3px 0 0 map-get($colors, black);
      }
    }
  }
}

.section--authors {
  @include tablet() {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.author-slide {
  text-align: center;
}

.author-slide__avatar {
  @include tablet() {
    border: 4px solid map-get($colors, yellow);
    border-radius: 50%;
    clip-path: initial;
    overflow: hidden;
  }

  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: inline-block;
  margin-bottom: $spacer-l;
  position: relative;
}

.author-slide__avatar-mask {
  @include mobile() {
    align-items: center;
    background-color: map-get($colors, yellow);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    height: 124px;
    justify-content: center;
    width: 108px;
  }
}

.author-slide__image {
  @include tablet() {
    background-color: map-get($colors, white);
    clip-path: initial;
    height: 150px;
    object-fit: cover;
    object-position: center;
    width: 150px;
  }

  background-color: map-get($colors, white);
  display: block;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  height: 120px;
  object-fit: cover;
  object-position: center;
  width: 102px;
}

.author-slide__description {
  @extend %body-s;

  margin-bottom: $spacer-l;
}

.author-slide__fullname {
  @extend %button;
}

.room__types .tabs__list {
  padding: 0;
}
