body {
  &.page-template-responsibility {
    background-color: map-get($colors, green);
  }
}

.idea-author {
  @extend %body-s;

  border-radius: $radius;
  bottom: -($spacer);
  display: flex;
  left: $spacer;
  padding: $spacer-s;
  position: absolute;

  &.bg-black,
  &.bg-dark-grey {
    color: map-get($colors, white);
  }
}

.idea-author__avatar {
  @include tablet() {
    width: 64px;
  }

  border-radius: 50%;
  margin-right: $spacer-s;
  width: 50px;
}
