body {
  &.page-template-tour-and-experience,
  &.post-type-archive-tour,
  &.single-tour {
    background-color: map-get($colors, light-grey);
  }
}

// Single
.single-tour {
  h4 {
    @include typo($body-desktop, $body-mobile);

    font-weight: 800 !important;
    margin-bottom: $spacer;

    &.no-mar {
      margin-bottom: 0;
    }
  }

  h2 {
    @include typo($h6-desktop, $h6-mobile);

    margin-bottom: $spacer;
  }

  .content {
    p {
      margin-bottom: $spacer-l;
    }
  }

  .about-title {
    @extend %h3;
  }

  .about-list {
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    svg {
      width: 26px;
      margin-right: 11px;
    }

    img {
      width: 19px;
      margin-right: 11px;
    }
  }
}

.tour-cards {
  margin-top: $spacer-xl !important;
}
