body {
  &.page-template-work-with-us {
    background-color: map-get($colors, yellow);

    .plus {
      @include tablet() {
        flex-wrap: nowrap;
      }

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .plus__item {
      @extend %h6;

      @include tablet() {
        flex: 1;
        margin: 0;
      }

      flex: 0 0 50%;
      margin: 0 0 $spacer;
      text-align: center;

      img {
        @include tablet() {
          max-width: none;
          margin: 0 auto $spacer-l;
        }

        display: block;
        margin: 0 auto $spacer-s;
        max-width: 85px;
      }
    }
  }
}

.jobs {
  //
}

.jobs__item-title {
  align-items: center;
  display: flex;

  .icon {
    height: 35px;
    margin-right: $spacer;
  }

  span {
    @extend %link;

    margin-left: auto;
  }
}

.jobs__item {
  border-bottom: 3px solid map-get($colors, black);
  list-style-image: none;

  summary {
    cursor: pointer;
    padding: $spacer-s 0;

    &::-webkit-details-marker {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  span {
    &:nth-of-type(2) {
      display: none;
    }
  }

  &[open] {
    span {
      &:nth-of-type(1) {
        display: none;
      }

      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}

.details__content {
  padding: $spacer 0;
}
