body {
  &.post-type-archive-work {
    background-color: map-get($colors, pink);

    .tabs__nav,
    .tabs__list {
      margin: 0;
      padding: 0;
    }

    .tabs-content {
      & > .container {
        & > .swiper-slide {
          &:not(:last-child) {
            margin-bottom: $spacer-xl;
          }
        }
      }
    }
  }
}

// Archive
.general-details {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      @include typo($body-s-desktop, $body-s-mobile);

      &:last-child {
        margin-bottom: 0;
      }
    }

    svg {
      width: 26px;
      display: block;
      margin-right: $spacer-s;
    }
  }
}
