@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/roobert-regular.woff2") format("woff2"),
    url("../fonts/roobert-regular.woff") format("woff");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/roobert-semibold.woff2") format("woff2"),
    url("../fonts/roobert-semibold.woff") format("woff");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/roobert-bold.woff2") format("woff2"),
    url("../fonts/roobert-bold.woff") format("woff");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 900;
  src:
    url("../fonts/roobert-heavy.woff2") format("woff2"),
    url("../fonts/roobert-heavy.woff") format("woff");
}

img:not([alt]) {
  filter: none;
}

html {
  @include tablet() {
    font-size: $base-desktop;
  }

  font-size: $base-mobile;
  height: 100%;
}

body {
  @extend %body;

  color: map-get($colors, dark-grey);
  font-family: "Roobert", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;

  &.slide-panel-open {
    overflow: hidden;
    padding-right: 20px;
  }
}

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}

h5,
.h5 {
  @extend %h5;
}

h6,
.h6 {
  @extend %h6;
}

a {
  color: map-get($colors, black);
}

.my {
  margin-bottom: $spacer;
  margin-top: $spacer;
}

.my-l {
  margin-bottom: $spacer-l;
  margin-top: $spacer-l;
}

.mx {
  margin-left: $spacer;
  margin-right: $spacer;
}

.mx-l {
  margin-left: $spacer-l;
  margin-right: $spacer-l;
}

.mb {
  margin-bottom: $spacer;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-l {
  margin-bottom: $spacer-l;
}

.mb-s {
  margin-bottom: $spacer-s;
}

.mb-xs {
  margin-bottom: $spacer-xs;
}

.mt-s {
  margin-top: $spacer-s;
}

.text-center {
  text-align: center;
}

.responsive-video {
  border-radius: $radius;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.bg {
  @include color-modifiers;
}
