@mixin color-wp-background-modifiers {
  @each $name, $hex in $colors {
    .has-#{$name}-background-color {
      background-color: $hex;

      @content;
    }
  }
}

@mixin color-wp-text-modifiers {
  @each $name, $hex in $colors {
    .has-#{$name}-color {
      color: $hex;

      @content;
    }
  }
}

@mixin color-modifiers {
  @each $name, $hex in $colors {
    &-#{$name} {
      background-color: $hex;

      @content;
    }
  }
}

@mixin color-modifiers-svg {
  @each $name, $hex in $colors {
    &-#{$name} {
      use {
        fill: $hex;
      }

      @content;
    }
  }
}

// Typography styles generator
// - Usefull also when we can't use placeholders
@mixin typo($desktop: false, $mobile: false) {
  @if $desktop {
    @include tablet() {
      @each $property, $value in $desktop {
        @if $property == font-size {
          #{$property}: #{$value / $base-desktop}rem;
        }

        @else if $property == line-height {
          #{$property}: #{$value / map-get($desktop, "font-size")}em;
        }

        @else {
          #{$property}: $value;
        }
      }
    }
  }

  @if $mobile {
    @include mobile() {
      @each $property, $value in $mobile {
        @if $property == font-size {
          #{$property}: #{$value / $base-mobile}rem;
        }

        @else if $property == line-height {
          #{$property}: #{$value / map-get($mobile, "font-size")}em;
        }

        @else {
          #{$property}: $value;
        }
      }
    }
  }
}

// Placehoders
// - Shrik CSS size!
%body {
  @include typo($body-desktop, $body-mobile);
}

%body-s {
  @include typo($body-s-desktop, $body-s-mobile);
}

%h1 {
  @include typo($h1-desktop, $h1-mobile);
}

%h2 {
  @include typo($h2-desktop, $h2-mobile);
}

%h3 {
  @include typo($h3-desktop, $h3-mobile);
}

%h4 {
  @include typo($h4-desktop, $h4-mobile);
}

%h5 {
  @include typo($h5-desktop, $h5-mobile);
}

%h6 {
  @include typo($h6-desktop, $h6-mobile);
}

%label {
  @include typo($label-desktop, $label-mobile);
}

%label-s {
  @include typo($label-s-desktop, $label-s-mobile);
}

%label-xs {
  @include typo($label-xs-desktop, $label-xs-mobile);
}

%link {
  @include typo($link-desktop, $link-mobile);
}

%nav {
  @include typo($nav-desktop, $nav-mobile);
}

%button {
  @include typo($button-desktop, $button-mobile);
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%unstyled-list {
  list-style-type: none;
}

%unstyled-button {
  appearance: none;
  background: none;
  border: 0;
  line-height: 1;
  margin: 0;
  padding: 0;
}

%has-shadow {
  @include tablet() {
    margin-bottom: 10px;
    box-shadow: 10px 10px 0 map-get($colors, black);
  }

  margin-bottom: 6px;
  box-shadow: 6px 6px 0 map-get($colors, black);
}

%has-hover-shadow {
  margin-bottom: 6px;

  &:hover {
    box-shadow: 6px 6px 0 map-get($colors, black);
  }

  @include tablet() {
    margin-bottom: 10px;

    &:hover {
      box-shadow: 10px 10px 0 map-get($colors, black);
    }
  }
}

%mobile-wrapper {
  @include mobile() {
    padding-left: $spacer;
    padding-right: $spacer;
  }
}

%mobile-inner-wrapper {
  @include mobile() {
    padding-left: $spacer;
    padding-right: $spacer;
  }
}

// Arrow placeholders
//
%wobble-arrow {
  position: relative;

  &::before {
    @include tablet() {
      height: 87px;
      width: 36px;
    }

    @include mobile() {
      display: none;
    }

    background-color: map-get($colors, yellow);
    content: "";
    height: 59px;
    left: 50%;
    margin-left: -12px;
    mask-image: url(../images/elements/wobble-arrow.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: absolute;
    top: 0;
    transform-origin: center;
    width: 24px;
    z-index: 1;
  }
}

%wobble-arrow--blue {
  &::before {
    background-color: map-get($colors, blue);
  }
}

%wobble-arrow--green {
  &::before {
    background-color: map-get($colors, green);
  }
}

%wobble-arrow--pink {
  &::before {
    background-color: map-get($colors, pink);
  }
}

%wobble-arrow--salmon {
  &::before {
    background-color: map-get($colors, salmon);
  }
}

%wobble-arrow--violet {
  &::before {
    background-color: map-get($colors, violet);
  }
}

// Arrow mixin
// - We need it due arrow color change between breakpoints 😭

@mixin wobble-arrow($color) {
  position: relative;

  &::before {
    @include tablet() {
      height: 87px;
      width: 36px;
    }

    background-color: $color;
    content: "";
    height: 59px;
    left: 50%;
    margin-left: -12px;
    mask-image: url(../images/elements/wobble-arrow.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: absolute;
    transform-origin: center;
    width: 24px;

    @content;
  }
}
