/** Colors */
$colors: (
  yellow: #ffec00,
  pink: #fdbecf,
  green: #35af60,
  salmon: #fb7373,
  black: #000,
  white: #fff,
  blue: #499bf7,
  orange: #fe9968,
  violet: #c7baff,
  light-grey: #ebebeb,
  dark-grey: #161616,
  grey: #a8a8a8
);

/** Box Model  */
$spacer-xxxxl:   1 * 6rem;
$spacer-xxxl:    1 * 5rem;
$spacer-xxl:     1 * 4rem;
$spacer-xl:      1 * 3rem;
$spacer-l:       1 * 2rem;
$spacer:         1rem;
$spacer-s:       1 / 2 * 1rem;
$spacer-xs:      1 / 3 * 1rem;
$spacer-xxs:     1 / 4 * 1rem;

$base-desktop: 22px;
$base-mobile: 16px;

/** Typography **/
$h1-desktop: (
  "font-size": 60px,
  "font-weight": 900,
  "line-height": 61px
);

$h1-mobile: (
  "font-size": 30px,
  "font-weight": 700,
  "line-height": 31px
);

$h2-desktop: (
  "font-size": 48px,
  "font-weight": 700,
  "line-height": 52px
);

$h2-mobile: (
  "font-size": 28px,
  "font-weight": 700,
  "line-height": 31px
);

$h3-desktop: (
  "font-size": 40px,
  "font-weight": 700,
  "line-height": 45px
);

$h3-mobile: (
  "font-size": 24px,
  "font-weight": 700,
  "line-height": 28px
);

$h4-desktop: (
  "font-size": 35px,
  "font-weight": 700,
  "line-height": 38px
);

$h4-mobile: (
  "font-size": 28px,
  "font-weight": 700,
  "line-height": 33px
);

$h5-desktop: (
  "font-size": 31px,
  "font-weight": 700,
  "line-height": 34px
);

$h5-mobile: (
  "font-size": 20px,
  "font-weight": 700,
  "line-height": 23px
);

$h6-desktop: (
  "font-size": 24px,
  "font-weight": 700,
  "line-height": 27px
);

$h6-mobile: (
  "font-size": 16px,
  "font-weight": 700,
  "line-height": 19px
);

$body-desktop: (
  "font-size": 22px,
  "font-weight": 600,
  "line-height": 27px
);

$body-mobile: (
  "font-size": 16px,
  "font-weight": 600,
  "line-height": 21px
);

$body-s-desktop: (
  "font-size": 18px,
  "font-weight": 600,
  "line-height": 22px
);

$body-s-mobile: (
  "font-size": 13px,
  "font-weight": 600,
  "line-height": 17px
);

$label-desktop: (
  "font-size": 22px,
  "font-weight": 700,
  "line-height": 28px
);

$label-mobile: (
  "font-size": 16px,
  "font-weight": 700,
  "line-height": 19px
);

$label-s-desktop: (
  "font-size": 15px,
  "font-weight": 900,
  "line-height": 20px
);

$label-s-mobile: (
  "font-size": 14px,
  "font-weight": 900,
  "line-height": 18px
);

$label-xs-desktop: (
  "font-size": 13px,
  "font-weight": 900,
  "line-height": 18px
);

$label-xs-mobile: (
  "font-size": 13px,
  "font-weight": 900,
  "line-height": 17px
);

// Missing in styleguide
$label-xxs-mobile: (
  "font-size": 11px,
  "font-weight": 900,
  "line-height": 16px
);

// Missing in styleguide
$label-xxxs-mobile: (
  "font-size": 9px,
  "font-weight": 900,
  "line-height": 14px
);

$link-desktop: (
  "font-size": 17px,
  "font-weight": 900,
  "line-height": 22px
);

$link-mobile: (
  "font-size": 14px,
  "font-weight": 900,
  "line-height": 18px
);

$button-desktop: (
  "font-size": 21px,
  "font-weight": 900,
  "line-height": 26px
);

$button-mobile: (
  "font-size": 16px,
  "font-weight": 900,
  "line-height": 19px
);

$nav-desktop: (
  "font-size": 15px,
  "font-weight": 700,
  "line-height": 20px
);

$nav-mobile: (
  "font-size": 22px,
  "font-weight": 600,
  "line-height": 25px
);

$breadcrumb-desktop: (
  "font-size": 15px,
  "font-weight": 600,
  "line-height": 20px
);

$breadcrumb-mobile: (
  "font-size": 12px,
  "font-weight": 600,
  "line-height": 17px
);

/** Various **/
$radius: 10px;
$carousel-arrow-size: 48px;

$wobble-arrow-width-desktop: 36px;
$wobble-arrow-height-desktop: 87px;
$wobble-arrow-width-mobile: 24px;
$wobble-arrow-height-mobile: 59px;
