.booking {
  @extend .columns;
  @extend .is-gapless;
  @extend .is-centered;

  flex-direction: column;
}

.booking__label {
  @extend %label-xs;

  bottom: 0;
  color: #c6c6c6;
  left: $spacer;
  line-height: 1;
  position: absolute;
  right: $spacer;
  text-transform: uppercase;
  transform: translateY(-12px);
  transition: transform 0.2s;
}

.booking__control {
  @extend %h4;

  border: 0;
  background: none;
  height: 86px;
  padding: 0 $spacer 20px;
  width: 100%;

  &:hover,
  &:focus,
  &:valid {
    background-color: #f4f4f4;
    outline: none;
  }

  &[readonly]:not(.js-datepicker) {
    background-color: #f4f4f4;
  }

  @at-root {
    select#{&} {
      appearance: none;
      box-shadow: none;
    }
  }
}

.booking__submit {
  @extend %h5;

  appearance: none;
  background-color: map-get($colors, yellow);
  border: 0;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: calculaterem(30);
  font-weight: 700;
  padding: 0 $spacer-l;

  &:hover,
  &:focus {
    background-color: #dbcb00;
  }

  &.booking__submit--white {
    background-color: map-get($colors, white);
    color: map-get($colors, black);
    border-radius: 8px;
  }
}

.booking__bar {
  @extend .is-10;

  background-color: map-get($colors, white);
  border: 3px solid map-get($colors, black);
  border-radius: 10px;
  margin-top: $spacer;
  position: relative;
}

.booking__form {
  display: flex;
  width: 100%;
}

.booking__field {
  border-right: 1px solid #979797;
  flex: 1;
  padding: 0;
  position: relative;

  &:nth-of-type(1) {
    flex: 0 0 250px;
  }

  &:nth-of-type(3) {
    flex: 0 0 100px;

    input {
      text-align: center;
    }

    .booking__label {
      text-align: center;
    }
  }

  #destination {
    border-radius: 10px;
  }
}

.booking__patch {
  height: 95px;
  position: absolute;
  right: -45px;
  top: -45px;
  transform: rotateZ(12deg);
  width: 95px;
}

.booking__options {
  display: flex;
  justify-content: space-between;
  margin-top: $spacer-xs;
}

.booking__options-item {
  @extend %button-s;

  background-color: rgba(map-get($colors, black), 0.7);
}

.booking__coupon {
  position: relative;
}

.booking__coupon-trigger {
  @extend %button-s;

  background-color: map-get($colors, yellow);
  color: map-get($colors, black);
}

.booking__coupon-panel {
  display: none;
  margin-top: $spacer-s;
  position: absolute;
  right: 0;
  width: 180%;

  .input {
    @extend .input;

    height: 2.182rem;
    padding-right: 2.182rem;
    width: 100%;
  }

  .form__field--has-submit-inside {
    .icon {
      font-size: 1rem;
    }
  }

  .booking__coupon-active & {
    display: block;
  }
}
