.contacts {
  @extend .container;
  @extend %mobile-wrapper;

  border-radius: $radius;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer-l !important;
  margin-top: $spacer-l !important;
  background-color: map-get($colors, yellow);

  @include tablet() {
    flex-direction: row;
    margin-bottom: $spacer-l;
    margin-top: $spacer-l;
  }
}

.contacts__main {
  @include tablet() {
    flex: 0 0 50%;
    text-align: left;
  }

  flex: 1;
  padding: $spacer-xxl;
  text-align: center;

  p {
    @extend %h6;

    margin-bottom: $spacer;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__map {
  padding-bottom: 70%;
  position: relative;

  @include tablet() {
    flex: 0 0 50%;
    padding-bottom: 0;
    position: relative;
  }

  .map {
    left: 0;
    height: 100%;
    position: absolute !important;
    top: 0;
    width: 100%;
  }
}

.contacts__title {
  @include typo($h5-desktop, $h3-mobile);

  margin-bottom: $spacer;
}

.whatsapp-phone {
  align-items: center;
  display: inline-flex;

  &::before {
    background-image: linear-gradient(to left, #198933 0, #198933 33.33333%, #fff 33.33333%, #fff 66.66666%, #c60a0a 66.66666%);
    content: "";
    height: 14px;
    margin-right: $spacer-xs;
    width: 22px;
  }
}
