// Call To Action styles
//
// Author: Alessandro D'Angelo
// Company Alfa Communication
//
.cta {
  text-align: center;
}

.cta__container {
  @extend .container;

  padding: $spacer-xl 0;
  position: relative;
}

.cta__header {
  @extend .columns;
  @extend .is-centered;
  @extend .is-gapless;

  margin-bottom: $spacer-xl;
}

.cta__title {
  @extend .column;
  @extend .is-10;
}

.cta__footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

// Blue Call To Action styles
//
.cta--blue {
  background-color: map-get($colors, blue);
}

// Call To Action with patch styles
//
.cta--has-patch {
  .patch {
    left: 80px;
    position: absolute;
    top: -80px;
  }
}
