// Offices module styles
//
.offices {
  background-color: map-get($colors, yellow);
  padding: $spacer-xl $spacer;
}

.offices__item {
  text-align: center;

  img {
    display: inline-block;
    margin-bottom: $spacer-s;
  }
}

// WhatsApp module styles
//
.whatsapp {
  @extend %h4;

  @include tablet() {
    padding: $spacer-xl 0;
  }

  background-color: map-get($colors, green);
  padding: $spacer-l 0;
  text-align: center;
}

.whatsapp__container {
  @extend .container;

  @include tablet() {
    flex-direction: row;
  }

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .patch {
    @include tablet() {
      height: 95px;
      left: 40px;
      margin-bottom: 0;
      position: absolute;
      top: -95px;
      width: 95px;
    }

    display: inline-block !important;
    height: 74px;
    margin-bottom: $spacer;
    width: 74px;
  }
}

.whatsapp__phone {
  @include tablet() {
    margin: 0 0 0 $spacer-s;
  }

  align-items: center;
  color: map-get($colors, black);
  display: flex;
  margin-top: $spacer-xs;
  text-decoration: none;

  img {
    height: 20px;
    margin-right: $spacer-s;
    width: 30px;
  }
}

// Content Info styles
//
.content-info {
  @include tablet() {
    padding: $spacer-xl 0 $spacer;
  }

  background-color: map-get($colors, black);
  color: map-get($colors, white);
  padding: $spacer-xl $spacer $spacer;
}

.footer-navs {
  @extend .columns;

  margin: 0;
}

.footer-nav {
  @extend .column;

  padding-top: 0;
}

.footer-nav__header {
  @extend %label;
  @extend %unstyled-button;

  @include tablet() {
    margin: 0 0 $spacer-l;
  }

  color: map-get($colors, yellow);
  margin: 0 0 $spacer-xs;

  .icon {
    @extend .is-hidden-tablet;

    font-size: 9px;

    path {
      fill: map-get($colors, yellow);
    }

    .footer-nav--active & {
      transform: rotate(180deg);
    }
  }
}

.footer-nav__list {
  @extend %unstyled-list;

  @include tablet() {
    display: block;
  }

  display: none;

  li {
    @include tablet() {
      margin-bottom: $spacer-s;

      &:last-child {
        margin: 0;
      }
    }

    margin-bottom: 0;
  }

  a {
    @extend %label;

    border-bottom: 2px solid transparent;
    color: map-get($colors, white);
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;

    /* stylelint-disable */
    .icon {
      @extend .is-hidden-tablet;
    }
    /* stylelint-enable */

    &:hover,
    &:focus {
      border-color: map-get($colors, yellow);
    }
  }

  .footer-nav--active & {
    display: block !important;
  }
}

.nav-social {
  @include mobile() {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;

    .icon {
      font-size: 41px;
    }

    a {
      &:hover,
      &:focus {
        border-color: transparent;
      }
    }
  }
}

// Colophon
//
.colophon {
  @include tablet() {
    margin-top: $spacer-l;
    font-size: #{11px / $base-desktop}rem;
    text-align: center;
  }

  font-size: #{11px / $base-mobile}rem;
  font-weight: 700;
  line-height: 1.2em;
}
