// Grid for Blog layout
// - ...
.grid-blog {
  @include tablet() {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  column-gap: $spacer;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: $spacer;

  > .card {
    @include tablet() {
      grid-column: span 4;
    }

    &:nth-of-type(1) {
      @include tablet() {
        grid-column: 1 / span 7;
        grid-row: 1 / span 4;
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      @include tablet() {
        grid-column: 8 / -1;
      }
    }
  }
}

// Grid styles
// - 3 elements each row
.grid {
  @include tablet() {
    grid-template-columns: repeat(3, 1fr);
  }

  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
}

.grid--5-desktop {
  @include tablet() {
    grid-template-columns: repeat(5, 1fr);
  }
}

.grid--2-mobile {
  @include mobile() {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Grid with cover styles
// -
.grid-with-cover {
  display: grid;
  column-gap: $spacer;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, 1fr);
  row-gap: $spacer;

  .cover {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  > div {
    background-color: #f3f3f3;
    min-height: 300px;
    text-align: center;
  }
}

.grid-with-cover--right {
  .cover {
    grid-column-start: 3;
  }
}
