.topbar {
  @include tablet() {
    padding: 0 $spacer;
  }

  align-items: center;
  background-color: map-get($colors, black);
  display: flex;
  height: 37px;
  justify-content: space-between;

  a {
    color: map-get($colors, white);
  }
}

// Page Banner styles
//
.banner {
  @include tablet() {
    border-bottom: 0;
    padding-left: $spacer;
  }

  align-items: center;
  background-color: map-get($colors, white);
  border-bottom: 1px solid #d8d8d8;
  color: map-get($colors, black);
  display: flex;
  height: 68px;
  padding-left: 0;
  z-index: 100;
}

.brand {
  @include tablet() {
    max-width: 190px;
  }

  max-width: 150px;
}

.brand__image-white {
  display: none;
}

// Destinations Navigation
//
.nav-destination {
  @include tablet() {
    background-color: transparent;
    display: block;
    margin-left: $spacer;
  }

  display: none;

  a {
    @extend %ellipsis;
    @extend %nav;

    text-align: center;
    text-transform: uppercase;
  }
}

.nav-destination-mobile {
  @include tablet() {
    display: none;
  }

  @include mobile() {
    ul {
      padding: 0;
    }
  }

  background-color: map-get($colors, black);

  .nav {
    margin: 0;

    a {
      @extend %label-s;

      color: map-get($colors, white);
      font-weight: 700;
      padding: $spacer-s 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

// Primary Navigation
//
.nav-primary {
  @extend .is-hidden-mobile;

  margin-left: auto;

  .nav {
    a {
      @extend %ellipsis;

      text-align: center;
    }
  }
}

// Mobile Navigation Toggler
//
.nav-panel-toggle {
  @extend .is-hidden-tablet;
  @extend %unstyled-button;

  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15px;
  justify-content: space-between;
  padding: 0;
  outline: none;
  position: relative;
  width: 58px;

  span {
    background-color: map-get($colors, black);
    display: block;
    height: 3px;
    transition: all 0.4s ease;
    width: 18px;
  }
}

// Book Now
//
.book-now {
  @include typo($button-desktop, $button-mobile);

  @include tablet() {
    height: 100%;
    position: static;
    width: auto;
  }

  align-items: center;
  background-color: map-get($colors, yellow);
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  padding: 0 $spacer-l;
  position: fixed;
  text-decoration: none;
  width: 100%;
}

.nav-panel {
  background-color: map-get($colors, white);
  opacity: 0;
  position: fixed;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

.nav-panel__block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-panel__main {
  flex: 1;
  padding: 0 $spacer;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-panel__footer {
  padding: $spacer $spacer-l $spacer;

  .nav-social {
    width: 70%;

    .icon {
      font-size: 28px;
    }
  }
}

.banner--nav-panel-visible {
  .nav-panel-toggle {
    span {
      &:nth-last-of-type(1) {
        transform: rotate(45deg) translateY(-5px) translateX(-3px);
      }

      &:nth-last-of-type(2) {
        display: none;
      }

      &:nth-last-of-type(3) {
        transform: rotate(-45deg) translateY(5px) translateX(-3px);
      }
    }
  }

  .nav-panel {
    display: block;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

.nav-mobile {
  padding: $spacer 0;

  .nav {
    a {
      font-size: 20px;
    }

    .menu-item {
      margin: $spacer 0;

      &.menu-item-has-children {
        > a {
          align-items: center;
          display: flex;

          &::after {
            background-image: url("../images/icons/caret-down.svg");
            background-size: contain;
            content: "";
            height: 7px;
            margin-left: $spacer-s;
            width: 7px;
          }
        }

        &.menu-item-active {
          > a {
            &::after {
              transform: rotate(180deg);
            }
          }

          .sub-menu {
            display: flex;
          }
        }

        /* stylelint-disable no-descending-specificity */
        .sub-menu {
          display: none;

          .menu-item {
            margin: $spacer 0 0;

            a {
              color: #8a8a8a;
              font-size: 16px;
            }
          }
        }
        /* stylelint-enable no-descending-specificity */
      }
    }
  }
}
