// Newsletter styles
//
.newsletter {
  background-color: map-get($colors, salmon);
  padding: $spacer-xl $spacer;
  position: relative;
  text-align: center;

  .patch {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-70%);
  }

  legend {
    @extend %button;

    margin: 0 0 $spacer;
    padding: 0;
  }
}

.newsletter__header {
  margin-bottom: $spacer;
}

.newsletter__title {
  @extend %h5;
}

.newsletter__form-input {
  min-width: 40vw;
}

.newsletter__options {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $spacer;

  .checkbox {
    margin: 0 $spacer-s;
  }
}
