.wrap,
.main {
  overflow: visible;
}

.main {
  @include tablet() {
    margin-top: $spacer-xl;
  }

  margin-top: $spacer-l;
}

// Page Header
//
.page-header {
  @extend %mobile-wrapper;

  @include tablet() {
    margin-bottom: $spacer-xxxl;
  }

  margin-bottom: $spacer-l;
  text-align: center;
}

.page-header__content {
  @include mobile() {
    padding: 0 10vw;
  }
}

.page-header__patch {
  @include tablet() {
    display: block;
    position: absolute;
    top: 0;
  }

  display: none;
}

.page-header__title {
  @include typo($h3-desktop, $h2-mobile);
}

.page-header__subtitle {
  @include tablet() {
    margin-top: $spacer-l;
  }

  margin-top: $spacer;
}

.page-header--has-right-patch {
  .page-header__patch {
    right: 0;
    transform: rotateZ(15deg) translateY(-30%);
  }
}

.page-header--has-left-patch {
  .page-header__patch {
    left: 0;
    transform: rotateZ(-15deg) translateY(-30%);
  }
}
