.wrap {
  .single-post & {
    @include tablet() {
      padding-bottom: $spacer-xxl;
    }

    padding-bottom: $spacer-l;
  }
}

// Post Tags
//
.tags-list {
  @extend %unstyled-list;

  display: flex;
  flex-wrap: wrap;
  margin-left: (-$spacer-s) !important;

  a {
    @extend .tag;
    @extend .tag--small;

    margin: 0 0 $spacer-s $spacer-s;
  }
}

// Post Share
//
.share {
  align-items: center;
  display: flex;
  justify-content: center;

  &.v2 {
    justify-content: flex-start;
  }
}

.share__label {
  @extend %nav;

  margin-right: $spacer;
}

.share__list {
  @extend %unstyled-list;

  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: -$spacer-xxs !important;

  .v2 & {
    padding: 0;
    margin-bottom: 0;
  }
}

.share__item {
  margin-left: $spacer-xxs;

  a {
    align-items: center;
    background-color: map-get($colors, black);
    border-radius: 50%;
    color: map-get($colors, yellow);
    display: flex;
    height: 30px;
    font-size: 16px;
    justify-content: center;
    width: 30px;

    &:hover {
      color: map-get($colors, white);
    }
  }

  .icon {
    width: 14px;
  }

  .v2 & {
    a {
      width: 40px;
      height: 40px;
      background-color: map-get($colors, yellow);

      &:hover {
        background-color: map-get($colors, black);
      }
    }

    .icon {
      width: auto;
      height: 14px;

      path {
        fill: map-get($colors, black);
      }

      a:hover & {
        path {
          color: map-get($colors, yellow);
        }
      }
    }
  }
}

// Author avatar styles
//
.author {
  align-items: center;
  display: flex;
}

.author__avatar {
  @include tablet() {
    height: 64px;
    margin-right: $spacer-s;
    width: 64px;
  }

  background-color: map-get($colors, white);
  border-radius: 50%;
  height: 49px;
  margin-right: $spacer-xs;
  width: 49px;
}

.author__avatar--small {
  height: 34px;
  width: 34px;
}

.author__avatar--large {
  @include tablet() {
    height: 134px;
    width: 134px;
  }

  height: 70px;
  width: 70px;
}

// Post Header
//
.post-header {
  @extend .container;
  @extend %mobile-wrapper;
}

.post-header__patch {
  @include tablet() {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%) translateX(20%) rotate(15deg);
    z-index: 10;
  }

  img {
    width: 100%;
  }

  display: none;
}

.post-header__title {
  @include typo($h5-desktop, $h3-mobile);

  @include tablet() {
    max-width: 70%;
  }

  font-weight: 700;
}

.post-header__title-desc {
  @include tablet() {
    display: block;
  }

  @extend %label-s;

  display: none;
}

// Post Meta
//
.post-meta {
  @extend .container;
  @extend %mobile-wrapper;

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: $spacer;
  padding: 0;

  .author {
    flex: 1;

    time {
      display: block;
    }
  }

  .author__avatar {
    margin-right: $spacer-s;
  }

  .share {
    @include tablet() {
      display: flex;
    }

    display: none;
  }
}

.post-meta__content {
  @include typo($nav-desktop, $label-s-mobile);

  font-weight: 700 !important;
  line-height: 1.4em;
}

// Post Media
//
.post-media {
  @include tablet() {
    margin-bottom: $spacer-l;
  }

  @extend %mobile-wrapper;

  margin-bottom: $spacer;
}

.post-media__image {
  border-radius: $radius;
  margin-top: $spacer;
  min-width: 100%;
}

// Post Content
//
.post-content {
  @extend .container;
  @extend %mobile-wrapper;
}

// Post Footer
//
.post-footer {
  @extend %mobile-wrapper;

  .author {
    @include tablet() {
      margin-top: $spacer-xl;
      padding-bottom: $spacer-xl;
    }

    align-items: flex-start;
    border-bottom: 3px solid map-get($colors, black);
    margin-top: $spacer-l;
    padding-bottom: $spacer-l;
  }

  .author__content {
    @extend %body-s;

    margin-left: $spacer;
    padding-top: $spacer;
  }

  .author__name {
    @extend %h6;

    margin-bottom: $spacer;

    span {
      @extend %label-s;

      display: block;
    }
  }

  .share {
    @include tablet() {
      margin: $spacer-xl 0;
    }

    justify-content: flex-start;
    margin: $spacer-l 0;

    .share__item {
      a {
        @include mobile() {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  .tags-list {
    margin-bottom: $spacer-l;
  }
}

.related {
  margin-top: $spacer-xl;
}

.related__header {
  @extend .container;

  margin-bottom: $spacer-xxl;
  text-align: center;
}

.related__title {
  margin-bottom: $spacer-xl;
}

.link {
  @extend %link;

  color: map-get($colors, black);
  text-decoration: none;
  text-transform: uppercase;
}

.type-eat {
  padding-left: $spacer;
  padding-right: $spacer;
}

.type-tour {
  padding-left: $spacer;
  padding-right: $spacer;
}

