// Section styles
//
.section {
  @extend %mobile-wrapper;

  @include tablet() {
    margin-bottom: $spacer-xxxl;
    margin-top: $spacer-xxxl;
    padding: 0;
  }

  margin-bottom: $spacer-xl;
  margin-top: $spacer-xl;
}

.section__header {
  @include tablet() {
    margin-bottom: $spacer-xxl;
  }

  margin-bottom: $spacer-xl;
  text-align: center;
}

.section__header--compact {
  @include tablet() {
    margin-bottom: $spacer-l;
  }

  margin-bottom: $spacer-l;
}

.section__title-desc {
  @extend %label;

  display: block;
  margin-bottom: $spacer-s;
}

.section__title {
  //
}

.section__subtitle {
  @include typo($body-s-desktop, $body-mobile);

  @include tablet() {
    margin-top: $spacer-l;
  }

  margin-top: $spacer;
}

.section--full-width-mobile {
  @include mobile {
    margin-left: 0;
    margin-right: 0;
  }
}

.section--m-small {
  @include tablet() {
    margin-bottom: $spacer-xl;
    margin-top: $spacer-xl;
  }

  margin-bottom: $spacer;
  margin-top: $spacer;
}

.section--m-xs {
  @include tablet() {
    margin-bottom: $spacer-l;
    margin-top: $spacer-l;
  }

  margin-bottom: $spacer-s;
  margin-top: $spacer-s;
}

.section--marginless {
  @include tablet() {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.section--paddingless {
  @include tablet() {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

// Section Posts
//
.section--posts {
  .patch {
    bottom: 0;
    position: absolute;
    right: 0;
    transform: rotateZ(15deg) translateY(30%);
    z-index: 2;
  }
}

// Section Tours
//
.section--tours {
  @extend %section-black;

  .section__header {
    margin-bottom: $spacer;
  }

  .tabs__nav {
    a {
      color: map-get($colors, white);
    }
  }
}

// Section Press
//
.section--press {
  @extend %section-black;

  .section__header {
    @include tablet() {
      margin-bottom: $spacer-l;
    }

    margin-bottom: $spacer;
  }
}

// Section Authors
//
.section--authors {
  @extend %section-tile;

  margin-left: $spacer;
  margin-right: $spacer;
}

%section-black {
  @include tablet() {
    margin: 0;
    padding: $spacer-xxxl 0;
  }

  margin: 0;
  padding: $spacer-l 0;
  background-color: map-get($colors, black);
  color: map-get($colors, white);
}

%section-tile {
  @include tablet() {
    margin: 0 $spacer;
    padding: $spacer-xxxl 0;
  }

  border-radius: $radius;
  margin: $spacer;
  padding: $spacer-l 0;
  background-color: map-get($colors, black);
  color: map-get($colors, white);
}

.section- {
  @include color-modifiers {
    @include tablet() {
      padding-left: 0;
      padding-right: 0;
    }

    margin: 0;
    padding: $spacer-xxl $spacer;
  }
}
