.book-now-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  display: none;

  .book-now-menu__close-panel {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(map-get($colors, black), 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .book-now-menu__panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 376px;
    height: 100%;
    background-color: map-get($colors, yellow);
    transform: translateX(100%);
    z-index: 1001;
    transition: transform 0.3s ease;

    @include mobile() {
      width: 100%;
    }
  }

  .book-now-menu__top-panel {
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    font-family: "Roobert", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgba(map-get($colors, black), 0.1);
    position: relative;

    @include typo($body-s-mobile);
  }

  .book-now-menu__close-button {
    text-indent: -999px;
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496.096 496.096'%3E%3Cdefs/%3E%3Cpath d='M259.41 247.998L493.754 13.654a8 8 0 000-11.312 8 8 0 00-11.312 0L248.098 236.686 13.754 2.342A8 8 0 002.442 13.654l234.344 234.344L2.442 482.342a8 8 0 00-.196 11.312 8 8 0 0011.508 0L248.098 259.31l234.344 234.344a8 8 0 0011.312-.196 8 8 0 000-11.116L259.41 247.998z'/%3E%3C/svg%3E") no-repeat center;
    background-size: 27px 27px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
  }

  &.open {
    display: block;
  }

  &.slide {
    .book-now-menu__panel {
      transform: translateX(0);
    }

    .book-now-menu__close-panel {
      opacity: 1;
    }
  }

  .book-now-menu__body {
    padding: $spacer-l;

    .booking__form {
      flex-direction: column;
    }

    #checkin-slide,
    .nights-input {
      display: none;
    }

    .sidebar-calendar-toggle {
      cursor: pointer;
    }
  }

  .form-group {
    margin-bottom: $spacer;

    &:last-child {
      margin-bottom: 0;
    }

    input,
    select {
      width: 100%;
    }

    .form-group__header,
    .input-tip {
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacer-xs;

      @include typo($label-s-desktop, $label-s-mobile);
    }

    .input-tip {
      margin-bottom: 0;
      margin-top: $spacer-xs;
      justify-content: center;
    }
  }

  .booking__submit {
    @include typo($button-desktop, $button-mobile);

    padding: $spacer;
    width: 100%;
  }

  .input-group {
    display: flex;
    border: 3px solid map-get($colors, $black);
    border-radius: $radius;
    background-color: map-get($colors, white);
    overflow: hidden;
  }

  .date-input {
    width: 100%;
    height: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacer-s;
    border-right: 1.5px solid map-get($colors, $black);

    &:last-child {
      border-right: 0;
      border-left: 1.5px solid map-get($colors, $black);
    }

    input {
      display: none;
    }

    .day-of-month {
      @include typo($h4-desktop, $h4-mobile);
    }

    .month-and-year {
      @include typo($label-s-desktop, $label-s-mobile);
    }

    .day-of-week {
      @include typo($label-xs-desktop, $label-xs-mobile);

      color: map-get($colors, gray);
    }
  }
}
