@charset "utf-8";

$gap: 22px;
$desktop: 1216px + (2 * $gap);
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/elements/container.sass";
